.chart_setting {
  height: 200px;
  width: 100%;
  margin: 10px 0px;
  /* width: 100%; */
}

.miniMenu_title {
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: bold;
  color: grey;
}

.miniMenu_box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.miniTable {
  border-collapse: collapse;
  background-color: var(--main-background-color);
  table-layout: auto;
  border: var(--main-border);
  width: 100%;
}
.miniTable_header th {
  border: 1px solid rgba(200, 200, 200, 1);
  padding: 8px;
  background-color: rgba(220, 220, 220, 1);
  font-size: 0.9em;
  font-weight: bold;
}

.miniTable_item td {
  text-align: center;
  vertical-align: middle;
  border: 1px solid rgba(200, 200, 200, 1);
  padding: 10px 0px;
  font-size: 0.8em;
}
