
.screenPage__searchResultTable tr:first-child > th[scope="col"]{
    background-color : rgba(230, 230, 230,1);
}

.screenPage__searchResultTable_header th{
    border: 1px solid rgba(200, 200, 200,1);
    padding :15px;
} 

.screenPage__searchResultTable_items td{
    text-align: center;
    vertical-align: middle;
    border: 1px solid rgba(200, 200, 200,1);
    padding :10px;
    font-size: 0.95em;
}

.screenPage__searchResultTable_items td img{
    height :70px;
    width : 100px;
}

.screenPage__searchResultTable_items button {
    border : none;
    background-color:var(--main-background-color);
}

.screenPage__searchResultTable{
    border-collapse: collapse;
    background-color:var(--main-background-color);
    table-layout: auto;
    border: var(--main-border);
    width :100%;
}


