@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Rock+3D&display=swap');

*{margin: 0; padding: 0; box-sizing: border-box;}
body{
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background: url(bg.jpg) no-repeat center; 
    background-size: cover; */
}

body::before{
    content: "";
    position: absolute; z-index: 1;
    top: 0; right: 0; bottom: 0; left: 0;
    /* background-color: rgba(0, 0, 0,.7); */
}

.login-form, .join-form {
    position: relative; z-index: 2;
}

h1{
    text-align: center;
    margin-bottom: 60px;
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Rock 3D', cursive;
    font-size: 50px; color:#000;
}
h1 a{
    text-decoration: none; color:#000;
}

.int-area {
    width: 400px; position: relative;
}
.int-area:first-child {margin-top: 0;}
.int-area input{
    width: 100%;
    padding: 20px 10px 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #999;
    font-size: 18px; color: #000;
    outline: none;
}
.int-area label{
    position: absolute; left: 10px; top: 15px;
    font-size: 15px; color: #999;
    transition: all .5s ease;
}
.int-area span{
    position: relative; left: 10px; top: 15px;
    font-size: 15px; color: #999;
}

.int-area select{
    position: relative; left: 50px; top: 15px;
}

.int-area label #pwch, .int-area button{
    position: relative; width: 50%;
}

.int-area button{
    width: 20%; height: 40px; left:320px; bottom: 45px;
    background: #000;
    color: #fff;
    font-size: 20px;
    border:none;
    border-radius: 25px;
}
/* .int-area label.warning {
    color: red !important;
    animation: warning .3s ease;
    animation-iteration-count: 3;
}
@keyframes warning {
    0% {transform: translateX(-8px);}
    25% {transform: translateX(8px);}
    50% {transform: translateX(-8px);}
    75% {transform: translateX(8px);}
} */
.int-area input:focus + label,
.int-area input:valid + label {
    top: -1px;
    font-size: 13px; color: #166cea;
}

.btn-area {
    margin-top: 30px;
}
.btn-area a {
    text-decoration: none;
    color: #fff;
}
.btn-area button {
    width: 100%; height: 50px;
    background: #166cea;
    color: #fff;
    font-size: 20px;
    border:none;
    border-radius: 25px;
    cursor: pointer;
}


.caption {
    float: left; width: 50%;
    margin-top: 20px;
    text-align: center;
}
.caption:first-child {margin-top: 0;}
.caption a {
    font-size: 15px; color: #999;
    text-decoration: none;
}